# Dependencias y builds
node_modules/
dist/
.build/
.cache/
out/
.next/
coverage/

# Herramientas/IDE
.vscode/
.idea/
.DS_Store

# Entornos/secretos
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Tipos/artefactos
*.tsbuildinfo

# Vite
vite.config.ts.timestamp-*